<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/../mi-visor/mi-visor.html">

<!--headers-->
Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <!--SPA, agregamos atributo hidden -->
    <div class="row" hidden$="{{logado}}">
      <h1>Ingrese o Registrese en la App</h1>
      <br>
      Email: <input type="email" value="{{email::input}}">
      <br>
      Password: <input type="password" value="{{password::input}}">
      <button on-click="login" name="button" class="btn btn-success">login</button>

    </div>
    <div class="row" hidden$="{{!logado}}">
      <span>Bienvenido a la Aplicacion</span>
    </div>

    <!---->
  </div>
  <iron-ajax
    id ="doLogin"
    url="http://localhost:3000/Login"
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }
      login (){
        var loginData={"email": this.email,"password": this.password};

        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('peticion enviada');
      }
      manageAJAXResponse (data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        this.logado=true;
        console.log(this.logado);
      }
      showError(error){
        console.log('Hubo un error');
        alert('Datos ingresados incorrectos, porfavor verifique');
        console.log(error)
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>

</dom-module>
