<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/header-logo/header-logo.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<dom-module id="datos-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <div class="row">
      <header-logo></header-logo>
      <img src="src/images/logo_bbva_blanco.svg" style="height: 40px; position:absolute;
                width: auto; margin-top: -10px;" alt="BBVA México" title="BBVA México">

    </div>
    <div class="row" style="margin-left: 40%;">
          <template is="dom-repeat" items="{{usuariodata}}">
            <h1 style="margin-top: 5px; position: absolute; color:#FFFFFF;"><strong>Bienvenido</strong>  a la Aplicacion [[item.nombre]] [[item.apellido]] </h1>
            <!--<table class="table table-reflow">
              <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    [[item.idcliente]]
                  </td>
                  <td>
                    [[item.nombre]]
                  </td>
                  <td>
                    [[item.apellido]]
                  </td>
                  <td>
                    [[item.cuenta]]
                  </td>
                </tr>
              </tbody>
            </table>-->

          </template>
    </div>



  </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosUsuario extends Polymer.Element {
      static get is() { return 'datos-usuario'; }
      static get properties() {
        return {
          usuariodata: {
            type: Array,//arreglo de usuariodata
            notify:true
          },
          idcliente: {
            type: Number,
            value: 1235
          }
        };
      }
      ready (){
          super.ready();
      var request = new XMLHttpRequest();
      var loginData={"idcliente": this.idcliente};
      var body = JSON.stringify(loginData)
      console.log("idcliente=: "+this.idcliente);

       request.open("POST","http://localhost:3000/DatosUsr2",false);
      request.setRequestHeader("Accept","application/json")
      request.setRequestHeader("Content-type","application/json");

      request.send(body);
      console.log('lo que trae la peticion'+request.responseText);
      this.usuariodata= JSON.parse(request.responseText);
      console.table(this.usuariodata);
      }
      //metodo pasando parametros por la URL
      obtenerDatosUsr(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/DatosUsr/"+this.idcliente,false);
        request.setRequestHeader("Accept","application/json")

        request.send();
        console.log('lo que trae la peticion'+request.responseText);
        this.usuariodata= JSON.parse(request.responseText);
        console.table(this.usuariodata);
      }

    }

    window.customElements.define(DatosUsuario.is, DatosUsuario);
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</dom-module>
